.fondo {
    background-image: url("/img/snoopy-y-pajarito-woodstock-emilio_2560x1440_xtrafondos.com.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Sniglet', cursive; /* Letra tipo Snoopy */
}

#tarjeta {
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    max-width: 320px; /* Tarjeta más pequeña */
    border: 3px solid #f8bbd0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

h1 {
    font-size: 1.5rem;
    color: #d81b60;
    margin-bottom: 10px;
    z-index: 20; /* Prioridad al texto */
}

.botones-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    position: relative;
    min-height: 150px; /* Espacio para que el botón crezca sin mover todo */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-family: 'Sniglet', cursive;
    font-weight: bold;
}

#btn-si {
    background-color: #ff4d6d;
    color: white;
    box-shadow: 0 4px 0 #c9184a;
    transition: transform 0.3s ease;
    z-index: 5; /* Debajo del texto por si crece mucho */
}

#btn-no {
    background-color: #757575;
    color: white;
    box-shadow: 0 4px 0 #424242;
}

#frase-dinamica {
    font-size: 0.9rem;
    color: #ff4d6d;
    height: 40px;
    display: flex;
    align-items: center;
}
.saludo {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 5px;
    font-weight: normal;
}

#pregunta {
    font-size: 1.6rem;
    color: #d81b60;
    margin-top: 0;
    margin-bottom: 15px;
}